<div class="container personal-loan">
    <div class="col-lg-12 col-md-12 padding-none">
        <h1>Personal Loans</h1>
        <p>Planning a grand wedding? Selecting a school for your child? or Waiting to book that exotic vacation you have been planning? We can help you with our customised personal loan offering. Let us be a part of your journey and help you to achieve your
            dreams & goals.</p>
        <button type="submit" class="apply-btn pull-right" (click)="apply()">Apply
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      </button>
    </div>
    <app-features-details-wizard></app-features-details-wizard>
</div>
<app-modal #applyModal (modalOutput)="refreshApply($event)"></app-modal>