@import '../../../../assets/styles/variables';

.nav-menu-bar {
    background:$theme-color;
    border: none;
    .navbar-header {
        .navbar-brand {
            height: 70px;
        }
    }
    .navbar-nav {
        li {
            a {
                padding-top: $padding-5+20;
                padding-bottom: $padding-5+20;
                font-size: 1.1em;
                color: $white-color;
                &:hover {
                    color: #ffffff !important;
                    background-color: #337AB7 !important;
                }
            }
            &.active>a {
                color: #ffffff !important;
                background-color: #337AB7 !important;
            }
            &.open>a {
                color: #ffffff !important;
                background-color: #337AB7 !important;
            }
        }
        .dropdown-menu {
            background: $theme-color;
            li {
                ul.multi-level {
                    background: $theme-color;
                }
                a {
                    padding-top: $padding-10;
                    padding-bottom: $padding-10;
                }
            }
        }
    }
}

.login-model {
    .modal-dialog {
        width: 500px !important;
    }
}