<div class="row features-details">
    <div class="col-lg-12 col-md-12">
        <tabset>
            <tab [heading]="'Features and Benefits'">
                <div class="col-lg-12 col-md-12 content-panel">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Loans up to 20 Lakhs</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Tenure ranging from 12 to 60 months</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> No guarantor/security required</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Convenience of doorstep service</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Quick and Speedy processing</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Attractive Rate of Interest</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum/Hassle free Documentation</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Special offer for employees of select companies</li>
                    </ul>
                </div>
            </tab>
            <tab [heading]="'Eligibility Criteria'">
                <div class="col-lg-12 col-md-12 content-panel">
                    <p><strong>Salaried Individuals</strong> include Salaried Doctors, CAs, employees of select Public and Private limited companies, Government Sector employees including public sector undertakings:</p>
                    <p><strong>Eligibility Criteria</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum age of applicant: 21 years</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Maximum age of applicant at loan maturity: 60 years (Or retirement, whichever is earlier) (65 years for Government Employees. Conditions Apply)</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum employment: Minimum 1 year in employment with minimum 1-month salary credit in the current organisation</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum Net Monthly Income: ₹ 20,000 for Metro Locations (Hyderabad) & ₹ 15,000 for All Other Locations.</li>
                    </ul>
                    <hr>
                    <p><strong>Salaried Individuals</strong> include Salaried Doctors, CAs, employees of select Public and Private limited companies, Government Sector employees including public sector undertakings:</p>
                    <p><strong>Eligibility Criteria</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum age of applicant: 21 years</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Maximum age of applicant at loan maturity: 60 years (Or retirement, whichever is earlier) (65 years for Government Employees. Conditions Apply)</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum employment: Minimum 1 year in employment with minimum 1-month salary credit in the current organisation</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum Net Monthly Income: ₹ 20,000 for Metro Locations (Hyderabad) & ₹ 15,000 for All Other Locations.</li>
                    </ul>
                    <hr>
                    <p><strong>Salaried Individuals</strong> include Salaried Doctors, CAs, employees of select Public and Private limited companies, Government Sector employees including public sector undertakings:</p>
                    <p><strong>Eligibility Criteria</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum age of applicant: 21 years</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Maximum age of applicant at loan maturity: 60 years (Or retirement, whichever is earlier) (65 years for Government Employees. Conditions Apply)</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum employment: Minimum 1 year in employment with minimum 1-month salary credit in the current organisation</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum Net Monthly Income: ₹ 20,000 for Metro Locations (Hyderabad) & ₹ 15,000 for All Other Locations.</li>
                    </ul>
                    <hr>
                </div>
            </tab>
            <tab [heading]="'Required Documents'">
                <div class="col-lg-12 col-md-12 content-panel">
                    <p><strong>Salaried Individuals</strong> include Salaried Doctors, CAs, employees of select Public and Private limited companies, Government Sector employees including public sector undertakings:</p>
                    <p><strong>Eligibility Criteria</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum age of applicant: 21 years</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Maximum age of applicant at loan maturity: 60 years (Or retirement, whichever is earlier) (65 years for Government Employees. Conditions Apply)</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum employment: Minimum 1 year in employment with minimum 1-month salary credit in the current organisation</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum Net Monthly Income: ₹ 20,000 for Metro Locations (Hyderabad) & ₹ 15,000 for All Other Locations.</li>
                    </ul>
                    <hr>
                    <p><strong>Salaried Individuals</strong> include Salaried Doctors, CAs, employees of select Public and Private limited companies, Government Sector employees including public sector undertakings:</p>
                    <p><strong>Eligibility Criteria</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum age of applicant: 21 years</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Maximum age of applicant at loan maturity: 60 years (Or retirement, whichever is earlier) (65 years for Government Employees. Conditions Apply)</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum employment: Minimum 1 year in employment with minimum 1-month salary credit in the current organisation</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum Net Monthly Income: ₹ 20,000 for Metro Locations (Hyderabad) & ₹ 15,000 for All Other Locations.</li>
                    </ul>
                    <hr>
                    <p><strong>Salaried Individuals</strong> include Salaried Doctors, CAs, employees of select Public and Private limited companies, Government Sector employees including public sector undertakings:</p>
                    <p><strong>Eligibility Criteria</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum age of applicant: 21 years</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Maximum age of applicant at loan maturity: 60 years (Or retirement, whichever is earlier) (65 years for Government Employees. Conditions Apply)</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum employment: Minimum 1 year in employment with minimum 1-month salary credit in the current organisation</li>
                        <li class="list-group-item"><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum Net Monthly Income: ₹ 20,000 for Metro Locations (Hyderabad) & ₹ 15,000 for All Other Locations.</li>
                    </ul>
                    <hr>
                </div>
            </tab>
        </tabset>
    </div>
</div>