<div class="container-fluid loan-against-property padding-none">
    <div class="col-lg-12 col-md-12 padding-none margin-bottom-10">
        <img src="assets/images/loan-against-property-1600x400.png" class="img-responsive">
    </div>
    <div class="container">
        <div class="col-lg-12 col-md-12 padding-none">
            <h1>Loan Against Property</h1>
            <p>Planning a grand wedding? Selecting a school for your child? or Waiting to book that exotic vacation you have been planning? We can help you with our customised personal loan offering. Let us be a part of your journey and help you to achieve
                your dreams & goals.</p>
            <app-registration-form></app-registration-form>
        </div>
        <app-features-details-wizard></app-features-details-wizard>
    </div>
</div>