<div class="container all-loans">
    <div class="col-lg-12 col-md-12 padding-none">
        <h1>All Loans</h1>
    </div>
    <div class="col-lg-12 col-md-12 padding-none">
        <tabset>
            <tab *ngFor="let allLoans of allLoansMetadata; let i=index" [heading]="allLoans.title">
                <div class="col-lg-3 col-md-3 content-panel padding-left-none" *ngFor="let subLoans of allLoans.subLoansList">
                    <div class="thumbnail">
                        <img src="{{subLoans.imgPath}}">
                        <div class="caption">
                            <h4>{{subLoans.title}}</h4>
                            <a routerLink="{{subLoans.routeUrl}}" class="col-md-12 btn btn-info btn-xs btn-custom margin-bottom-10" role="button">Know More</a>
                            <a routerLink="{{subLoans.createRouteUrl}}" class="col-md-6 btn btn-info btn-xs btn-custom" role="button">Create</a>
                            <a routerLink="{{subLoans.updateRouteUrl}}" class="col-md-6 btn btn-info btn-xs btn-custom" role="button">Update</a>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>