/* colors*/
$black-color: #000000;
$white-color: #ffffff;
$theme-color: #004a8f;
$theme-hover-color: #337AB7;

/* Border*/
$border-0: 0px;
$border-5:10px;
$border-10:10px;

/* text*/
$text-transform-uppercase: uppercase;
$text-transform-capitalize: capitalize;
$text-transform-lowercase: lowercase;

/* font-style*/
$font-style-italic:italic;
$font-style-normal:normal;
$font-style-oblique:oblique;

/* line height*/
$line-height-0: 0;
$line-height-5: 5;
$line-height-10: 10;

/* border-radius*/
$border-radius-0: 0px;
$border-radius-5: 5px;
$border-radius-10: 10px;

/* font-size*/
$font-size-0: 0px;
$font-size-5: 5px;
$font-size-10: 10px;

/* padding*/
$padding-0:0px;
$padding-5:5px;
$padding-10:10px;

/* font-weight*/
$font-weight-100: 100;
$font-weight-bold: bold;
$font-weight-lighter: lighter;
$font-weight-normal: normal;

/* margin*/
$margin-0:0px;
$margin-5:5px;
$margin-10:10px;



