@import '../../../../assets/styles/variables';

.home-section {
    .carousel.slide {
        .carousel-control.left,
        .carousel-control.right {
            background-image: none;
            top: 40%;
            position: absolute; 
            height: 40px;
            background: $theme-color;
            width: 30px;
            cursor: pointer;
            outline: none;
            padding: $padding-0+4;
            .icon-next {
                top: 30%;
                right: 32%;
            }
            .icon-prev {
                top: 30%;
                left: 25%;
            }
        }
        .carousel-inner {
            .item {
                .a {
                    color: transparent;
                }
            }
        }
        .carousel-indicators {
            li {
                position: relative;
                width: 30px;
                height: 5px;
                margin-right: 3px;
                margin-left: 3px;
                text-indent: -999px;
                background-color: rgba(255, 255, 255, .5);
                border: none;
                border-radius: $border-radius-0;
                margin: $margin-0;
                &.active {
                    background-color:$white-color;
                }
            }
        }
    }
}