<div class="col-md-12 home-section padding-none">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <a href="#x"><img src="assets/images/personalLoan.jpg" class="img-responsive"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <a href="#x"><img src="assets/images/homeloan.jpg" class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-angle-left fa-4"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-angle-right fa-4"></i></a>
    </div>
</div>